/*General table styling*/
table, th, td, tr{
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
}
/*toolbox styling*/
#Toolbox{
	display: inline-block;
	border: thick solid;
	border-color: #B1DDF3;
	border-radius: .5em;
	margin: 1em;
}
th.tools{
	padding: .2em .2em .2em .2em;
	border-radius: .3em;
	background: #5CB8E6;
	color: #FFFFFF;
	font-weight: bold;
}
td.tools{
	padding: .2em .2em .2em .2em;
	background: #EFEFEF;
	border-radius: .3em;
	width: 3vw;
	height: 3vw;
}
img.tools{
	width: 100%;
	height: 100%;
}
/*Color Pallet styling*/
#ColorPallet{
	display: inline-block;
	border: thick solid;
	border-color: #CCFF99;
	border-radius: .5em;
	margin: 1em;
}
th.pallet{
	padding: .2em .2em .2em .2em;
	border-radius: .3em;
	background: #B8E65C;
	color: #FFFFFF;
	font-weight: bold;
}
td.pallet{
	background: #EFEFEF;
	border-radius: .3em;
	width: 1.5vw;
	height: 1.5vw;
}
/*Canvas and Frame styling*/
#Frame{
	display: inline-block;
	height: 20em;
	width: 30em;
	margin: 1em;
	padding: 0 0 0 0;
	border-style: solid;
	border-color: #9C7B59;
	border-width: 3em;
}