/*General styling*/
table, th, td, tr, div{
	font-weight: normal;
}

/*toolbox styling*/
#Toolbox{
	display: inline-block;
	border: thick solid;
	border-color: #B1DDF3;
	border-radius: .5em;
	margin: 1em;
}
th.tools{
	padding: .2em .2em .2em .2em;
	border-radius: .3em;
	background: #5CB8E6;
	color: #FFFFFF;
	font-weight: bold;
}
td.tools{
	padding: .2em .2em .2em .2em;
	background: #EFEFEF;
	border-radius: .3em;
	width: 3em;
	height: 3em;
}
td.tools.selected {
	background: #0000EF;
}
img.tools{
	max-width: 3em;
	max-height: 3em;
}

/*Color Pallet styling*/
#ColorPallet{
	display: inline-block;
	border: thick solid;
	border-color: #CCFF99;
	border-radius: .5em;
	margin: 1em;
}
th.pallet{
	padding: .2em .2em .2em .2em;
	border-radius: .3em;
	background: #B8E65C;
	color: #FFFFFF;
	font-weight: bold;
}
td.pallet{
	background: #EFEFEF;
	border-radius: .3em;
	width: 1.5vw;
	height: 1.5vw;
}
td.colors{
	background: #EFEFEF;
	border-radius: .3em;
	width: 1.5vw;
	height: 1.5vw;
}
/*1st row*/
#cFFFFFF{
	background: #FFFFFF;
	border: thin solid #F1F1F1;
}
#c000000{background: #000000;}
#c666666{background:#666666;}
#cB2B2B2{background:#B2B2B2;}
/*2nd row*/
#c000099{background:#000099;}
#c0000FF{background:#0000FF;}
#c3399FF{background:#3399FF;}
#c66CCFF{background:#66CCFF;}
/*3rd row*/
#cFFFF00{background:#FFFF00;}
#cFFFF66{background:#FFFF66;}
#c00CC00{background:#00CC00;}
#c66FF66{background:#66FF66;}
/*4th row*/
#cFF0000{background:#FF0000;}
#cFF8080{background:#FF8080;}
#c9900CC{background:#9900CC;}
#cCC66FF{background:#CC66FF;}
/*5th row*/
#c663300{background:#663300;}
#c996633{background:#996633;}
#cFF9933{background:#FF9933;}
#cFFCC66{background:#FFCC66;}

/*Canvas and Frame styling*/
#Frame{
	display: inline-block;
	height: 320px;
	width: 480px;
	margin: 1em 1em 1em 0;
	padding: 0 0 0 0;
	border-style: solid;
	border-color: #9C7B59;
	border-width: 50px;
}

#mainCanvas{
	display: inline-block;
	margin: 0;
	padding: 0;
}

/*Action bar list styling*/
#ActionBar{
	margin: 0;
	padding: 0;
	width: 580px;
	background-color: #FFFFFF;
	border-radius: .5em;
}
ul.action{
	list-style-type: none;
	font-size: .8em;
	color: #FFFFFF;
	padding: .5em;
	border-radius: .5em;
	background-color: #EBC2FF;
}
#Share{
	margin-right: 2em;
	width: 12em;
	display: inline;
}
#UndoRedo{
	margin-right: 2em;
	width: 10em;
	display: inline;
}
#File{
	margin-right: 2em;
	width: 20em;
	display: inline;
}
li.horizontal{
	margin: 0;
	padding: 0;
	display: inline;
}