/* Shared styles */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);

html {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Roboto Condensed',Helvetica, Arial, sans-serif;
	font-weight: 400;
	margin: 0;
}

#buddySearchBar {
	border-radius: 5px;
	border: none;
	margin: 0 1em;
	padding: 5px;
	width: 100%;
	max-width: 500px;
}
nav {
	background-color: #fa9;
	color:white;
	padding: .5em;
}
nav a {
	color: white;
	display: inline-block;
	padding: .5em;
}

h1, h2, h3 {
	font-weight: 300;
}